@import url(common.less);

.brow_empty{
    height: 50px;
    width: 100%;
}
.main{
    margin: 12px 0 16px 0;
    height: 35px;
    .mainLine{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 35px;
        .rightBtn-mainLine{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .lang{
            font-size: 20px;
        }
        .pageTitle{
          margin-right: auto;
          width: calc(100% - 40px);
            position: relative;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -1px;
        }
        #tab1:checked ~ .tab1{
          
        }
    }
}


.separation{
  margin: 20px 0;
  hr{
    border: none;
    outline: none;
    width: 100%;
    height: 1px;
    background-color: #e7fe5552;
  }
}
.content{
  padding-top: 15px;
  .cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .card{
      background-color: #262626;
      border-radius: 10px;
      padding: 15px;
      .info{
        display: flex;
        gap: 15px;
        margin-bottom: 5px;
        .left{
          display: flex;
          flex-direction: column;
          gap: 10px;
          .colv{
            display: flex;
            gap: 5px;
            .dob{
              width: 30px;
              height: 26px;
              background-color: #3E3E3E;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 700;
            }
            .col{
              width: 30px;
              height: 26px;
              background-color: #2D2D2D;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 700;
            }
          }
          .photo{
            width: 100px;
            height: 75px;
            border-radius: 5px;
          }
          .item1{
            background-image: url(img/item1.png);
          }
          .item2{
            background-image: url(img/item2.png);
          }
          .item3{
            background-image: url(img/item3.png);
          }
        }
        .right{
          display: flex;
          flex-direction: column;
          gap: 5px;
          .subtitle{
            color: #747474;
            font-size: 10px;
          }
          .title{
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            min-height: 65px;
          }
          .summa{
            display: flex;
            align-items: center;
            gap: 10px;
            .sum{
              color: #E7FE55;
              font-weight: 600;
              font-size: 16px;
            }
            .crossout{
              font-size: 12px;
              color: #747474;
              text-decoration:line-through;
            }
            .sale{
              border: 1px solid #E7FE55;
              border-radius: 5px;
              font-size: 8px;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #E7FE55;
              padding: 3px;
            }
          }
        }
      }
      .line{
        display: flex;
        // justify-content: space-between;
        gap: 15px;
        .order{
          color: #BBBBBB;
          font-size: 10px;
          font-weight: 700;
          display: block;
          margin-top: 10px;
          width: 100px;
        }
        .qr_Btn{
          padding: 5px 10px;
          border-radius: 5px;
          background-color: #E7FE55;
          color: #000;
          font-size: 10px;
          font-weight: 700;
          display: flex;
          align-items: center;
          width: fit-content;
          gap: 5px;
        }

      }
    }
  }
  .title_block{
    margin: 20px 0 10px 0;
    display: block;
    font-weight: 600;
    font-size: 16px;
  }
  .imageGallery{
    overflow: auto;
    clip-path: inset(0 0 0px 0);
    display: flex;
    align-items: flex-start;
    gap: 6px;
    // margin: 22px 0 12px;
    #element::-webkit-scrollbar {
      width: 0px;
      height: 0;
      background-color: transparent;
    }
    .cardItem{
      padding: 10px;
      background-color: #2D2D2D;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      .gCardphoto{
        width: 136px;
        height: 100px;
        background-size: cover;
        background-position: center center;
      }
      .gCp1{
        background-image: url(img/item4.png);
      }
      .gCp2{
        background-image: url(img/item5.png);
      }
      .gCp3{
        background-image: url(img/item6.png);
      }
      .gCp4{
        background-image: url(img/item7.png);
      }
      .gCp5{
        background-image: url(img/item8.png);
      }
      .gCp6{
        background-image: url(img/item9.png);
      }
      .gCard_title{
        font-size: 10px;
        font-weight: 600;
        display: block;
        margin-top: 10px;
      }
      .gCard_subtitle{
        font-size: 8px;
        color: #747474;
        margin-bottom: 5px;
      }
      .gCardsum{
        font-size: 14px;
        font-weight: 600;
        color: #E7FE55;
      }
    }
    .addImage{
      background-color: #3e3e3e;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 500;
      font-size: 36px;
      background-image: url(img/plus.svg);
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}



.mainLineBrow{
  background-color: #262626;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  gap: 10px;
    .tab{
      padding: 8px 40px;
      width: 100%;
      border-radius: 10px;
      font-weight: 600;
      color: #6F6F70;
      background-color: #262626;
      display: block;
      .tab_label{
        text-align: center;
      }
      a:hover{
        color: #E7FE55;
        text-decoration: none;
      }
      }
      .active{
        background-color: #161716 !important;
        a{
          color: #E7FE55 !important;
        }
      }
}


.filtr{
  background-color: #2d2d2d;
  width: 100%;
  border-radius: 20px 20px 0 0;
  // backdrop-filter: blur(14px);
  position: fixed;
  bottom: 0;
  z-index: 10;
  padding: 20px 0;
  padding-bottom: 40px;
  .info{
    display: flex;
    gap: 15px;
    background-color: #3e3e3e;
    padding: 15px;
    border-radius: 10px;
    .left{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .colv{
        display: flex;
        gap: 5px;
        .dob{
          width: 30px;
          height: 26px;
          background-color: #3E3E3E;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
        }
        .col{
          width: 30px;
          height: 26px;
          background-color: #2D2D2D;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
        }
      }
      .photo{
        width: 100px;
        height: 75px;
        border-radius: 5px;
      }
      .item1{
        background-image: url(img/item1.png);
      }
      .item2{
        background-image: url(img/item2.png);
      }
      .item3{
        background-image: url(img/item3.png);
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      gap: 5px;
      .subtitle{
        color: #747474;
        font-size: 10px;
      }
      .title{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        // min-height: 65px;
      }
      .summa{
        display: flex;
        align-items: flex-end;
        gap: 10px;
        .sum{
          color: #E7FE55;
          font-weight: 600;
          font-size: 16px;
        }
        .crossout{
          font-size: 12px;
          color: #747474;
          text-decoration:line-through;
        }
        .sale{
          border: 1px solid #E7FE55;
          border-radius: 5px;
          font-size: 8px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #E7FE55;
          padding: 3px;
        }
      }
    }
  }
  .order_info{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .order{
      color: #E7FE55;
      font-size: 22px;
      text-align: center;
      display: block;
    }
    .order_name{
      font-size: 16px;
      text-align: center;
      display: block;
    }
  }
  .qr_img{
    display: block;
    width: 209px;
    margin: 0 auto;
  }
  .sum{
    font-size: 20px;
    font-weight: 500;
    display: block;
    text-align: center;
    // margin-top: 20px;
    color: #E7FE55;
  }
}