@import url(common.less);

body{
    background-color: #252525;
}
.brow_empty{
    height: 50px;
    width: 100%;
}
.cardBg{
    width: 100%;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    .cardSlide-dots{
        display: flex;
        justify-content: center;
        gap: 4px;
        margin: 5px 0;
        position: absolute;
        bottom: 40px;
        .slide-dot{
            width: 8px;
            height: 8px;
            background-color: #fff;
            border-radius: 100%;
        }
        .slide-dot.active{
            background-color: #E7FE55;
        }
    }
    .cardContent{
        position: relative;
        display: flex;
        justify-content: end;
        height: 100%;
        .sale{
            width: 75px;
            height: 75px;
            background-color: #9F55FE;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 24px;
            padding-bottom: 5px;
            position: absolute;
            bottom: 50px;
        }
        
    }
}
.card{
    background-color: #252525;
    width: 100%;
    height: auto;
    border-radius: 29px;
    padding: 20px 0;
    padding-bottom: 16px;
    position: relative;
    margin-bottom: 20px;
    top: -35px;
    .sale{
        width: 75px;
        height: 75px;
        background-color: #9F55FE;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 24px;
        padding-bottom: 5px;
        position: absolute;
        right: -3px;
        top: -10px;
    }
    .cardImg{
        height: 160px;
        width: 100%;
        border-radius: 20px;
        background-position: center;
    }
    .cardSlide-dots{
        display: flex;
        justify-content: center;
        gap: 4px;
        margin: 5px 0;
        .slide-dot{
            width: 8px;
            height: 8px;
            background-color: #fff;
            border-radius: 100%;
        }
        .slide-dot.active{
            background-color: #E7FE55;
        }
    }
}
.leftBtn-mainLine{
    background-color: #E7FE55;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 9px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}
.cardInfo{
    .cardNameStar{
        display: flex;
        justify-content: space-between;
        .actionBtn{
            display: flex;
            gap: 20px;
        }
        .cardName{
            font-size: 24px;
            font-weight: 700;
            color: #E7FE55;
            margin-bottom: 15px;
        }
    }
    .cardDescription{
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    .cardSeparation{
        margin-bottom: 15px;
        hr{
            border: 1px solid @common-color1;
        }
    }
    .currentProm{
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        font-size: 17px;
        font-weight: 400;
        span{
            display: flex;
            align-items: center;
        }
        .right{
            display: flex;
            align-items: center;
            gap: 12px;
            .quantity {
                font-size: 24px;
                font-weight: 700;
                color: @common-color1;
                // margin-right: 40px;
            }
        }
    }
    .prodects_grid{
        display: grid;
        grid-template-columns: auto auto;
        margin: 24px 0;
        gap: 20px 12px;
        .product{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .price{
            color: #E7FE55;
          }
          .prod_card{
            // background-color: #fff;
            width: 100%;
            height: auto;
            position: relative;
            border-radius: 9px;
            display: flex;
            align-items: center;
            justify-content: center;
            .del{
              background-color: #FE5555;
              width: 34px;
              height: 34px;
              border-radius: 100%;
              position: absolute;
              right: -7px;
              top: -7px;
              outline: 6px solid #161716;
              z-index: 1;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .moderation{
              position: absolute;
              z-index: 1;
              display: flex;
              align-items: center;
              gap: 5px;
              background: linear-gradient(90deg, #414141b0, #6a6a6a9c);
              padding: 4px 12px;
              border-radius: 9px;
              backdrop-filter: blur(10px);
              img{
                width: 12px;
              }
              span{
                font-size: 8px;
              }
            }
            .prod_img{
              background-image: url(img/imageCard.png);
              background-position: center;
              background-size: cover;
              width: 100%;
              height: 100%;
              border-radius: 9px;
            }
          }
        //   &:nth-child(1) .prod_card .prod_img, &:nth-child(5) .prod_card .prod_img{
        //     filter: blur(2px);
        //   }
  
          .price{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 8px;
            .standart_price{
              font-size: 12px;
            }
            .sale_price{
              font-size: 8px;  
              color: #747474;
              text-decoration: line-through;
            }
            .sale_prod{
              color: #E7FE55;
            }
          }
          .prod_name{
            font-size: 14px;
            width: 100%;
            margin-top: 8px;
          }
          .prod_info{
            display: flex;
            margin-top: 8px;
            gap:10px;
            align-items: center;
            font-size: 12px;
            img{
                margin-right: 5px;
            }
          }
        }
      }
    .partnerInfo{
        display: flex;
        gap: 12px;
        margin-bottom: 15px;
        align-items: center;
        a{
            color: #fff;
        }
    }
    .chart{
        font-size: 16px;
        .chartDate{
            display: flex;
            .weekDay{
                display: block;
                width: 74px;
            }
        }
    }
    .social{
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
    .saveContact, .allProduct{
        width: 100%;
        height: 58px;
        border-radius: 20px;
        background-color: @common-color1;
        color: #000;
        font-size: 24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .vacancys{
        .vac_line{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .desc{
            margin-bottom: 14px;
            padding-left: 10px;
            .desc_title{
                display: block;
                margin-top: 14px;
                font-weight: 700;
                font-size: 14px;
            }
            span{
                font-size: 14px;
            }
            .sendResponse{
                background-color: #E7FE55;
                width: fit-content;
                padding: 5px 10px;
                border-radius: 20px;
                color: #000;
                font-weight: 700;
                margin-top: 14px;
            }
        }
    }
    .discounts{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .discount{
            width: 100%;
            height: 60px;
            background-color: #333333;
            border-radius: 20px;
            padding: 11px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px #fff solid;
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 96.9%;
            }
            .disc_procent{
                display: flex;
                align-items: center;
                height: 100%;
                hr{
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                    margin-right: 15px;
                    margin-left: 10px;
                }
                span{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 96.9%;
                }
            }
        }
    }
    .evaluation{
        margin-top: 40px;
        .indicator{
            display: flex;
            align-items: center;
            gap: 10px;
            .quantity{
                font-size: 20px;
                font-weight: 600;
            }
            .stars{
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .quantity_rating{
                color: #A9A9A9;
                font-size: 16px;
            }
        }
    }
    .comments{
        border-radius: 10px;
        background-color: #292929;
        height: auto;
        width: 100%;
        margin-top: 20px;
        padding: 15px;
        .main_comment{
            display: flex;
            flex-direction: column;
            .comment_header{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                .user_info{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    .user_photo{
                        background-image: url(img/user-1.png);
                        background-size: contain;
                        border-radius: 100%;
                        width: 50px;
                        height: 50px;
                    }
                    .user_data{
                        display: flex;
                        flex-direction: column;
                        .name{
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .date{
                            font-size: 12px;
                            font-weight: 400; 
                            color: #A9A9A9;   
                        }
                    }
                }
                .stars{
                    display: flex;
                    justify-content: space-between;
                }
            }
            .comment{
                font-size: 12px;
                margin-top: 10px;
            }
            .answer{
                font-size: 10px;
                color: #585858;
                margin-top: 5px;
                display: flex;
                justify-content: flex-end;
            }
            .hide{
                margin: 0 auto;
            }
            .hidden{
                display: flex !important; 
            }
            .rotate180{
                transform: rotate(180deg);
            }
            .sub_comment_block{
                padding-left: 10px;
                // padding-top: 5px;
                display: none;
                gap: 20px;
                .line_arrow{
                    height: 100%;
                    position: relative;
                    .line{
                        height: 100%;
                        width: 1px;
                        background-color: #585858;
                    }
                    .arrow{
                        position: absolute;
                        top: 0;
                        margin-bottom: 5px;
                    }
                    
                }
                .comment_header{  
                }
                .sub_comment{
                    .answer{
                        font-size: 10px;
                        color: #585858;
                        margin-top: 5px;
                        display: flex;
                        justify-content: flex-end;
                    }                    
                }
            }
        }
    }
    .info_card{
        display: grid;
        grid-template-columns: 2fr 2fr;
        margin: 24px 0;
        gap: 12px 12px;
        a{
            text-decoration: none;
        }
        .inf_card{
            display: flex;
            align-items: center;
            background-color: #333333;
            border-radius: 20px;
            border: 1px solid #fff;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card_left{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .card_icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #494848;
                    border-radius: 16px;
                    padding: 8px;
                    img{

                    }
                }
                span{
                    font-size: 12px;
                    color: #fff;
                    margin-left: 10px;
                    font-weight: 600;
                }
            }
            span{
                font-size: 24px;
                color: #fff;
                font-weight: 700;
            }
        }
    }
}
.nextBtn{
    margin-top: 20px;
    margin-right: 8px;
    display: flex;
    justify-content: flex-end;
}
.navigation{
    position: absolute;
    width: 100%;
    bottom: 22px;
    z-index: 1;
    .nav{
        .navCont{
            height: 83px;
            width: 100%;
            background: linear-gradient( 30deg, #414141c7, #6a6a6ab4);
            backdrop-filter: blur(1rem);
            border-radius: 83px;
            padding: 10px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navItem.navActive{
                height: 64px;
                width: 64px;
                background-color: #fff;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .navItem.navActive svg path{
                    fill: #000;
                }
            }
        }
    }
}

.sales_cards{
    display: flex;
    flex-direction: column;
    gap: 12px;
    .sales_card{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 15px;
      background-color: #333333;
      // border: 1px solid #fff;
      border-radius: 20px;
      .left_card{
        .sales_title{
          font-size: 16px;
          font-weight: 700;
          display: block;
        }
        .sales_date{
          font-size: 12px;
          color: #8F8F8F;
        }
      }
      .sales_value{
        background-color: #E7FE55;
        border-radius: 9px;
        padding: 4px 8px;
        span{
          color: #000;
          font-size: 20px;
          font-weight: 700;
          font-family: 'Montserrat';
        }
      }
    }
  }