@import url(common.less);

.brow_empty{
    height: 50px;
    width: 100%;
}
.main{
    margin: 12px 0 16px 0;
    height: 35px;
    .mainLine{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 35px;
        .lang{
            font-size: 20px;
        }
        .pageTitle{
          margin-right: auto;
          width: calc(100% - 40px);
            position: relative;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -1px;
        }
    }
}
.data{
  padding-top: 10px;
  .dataCard{
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    background: linear-gradient(#d7be63a9, #836f2fa2);
    .dataFirstLine{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;
      .photo{
        width: 60px;
        height: 60px;
        background-position: center center;
        border-radius: 100%;
        margin-right: 14px;
        flex-shrink: 0;
      }
      .nameMail{
        .name{
          font-size: 22px;
          font-weight: 600;
          line-height: 22px;
        }
      }
      .edit{
        width: 60px;
        height: 60px;
        background-position: center center;
        border-radius: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        flex-shrink: 0;
      }
    }
    .dataSecondLine{
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 18px;
      .dataInfo{
        display: flex;
        .dataAtr{
          width: 80px;
          font-size: 15px;
          color: #aaa;
        }
        .value{
          font-size: 17px;
          font-weight: 600;
          color: #fff;
        }
      }
    }
    .dataThirdLine{
      width: 100%;
      display: flex;
      justify-content: center;
      .activatedBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 260px;
        max-width: 260px;
        border-radius: 37px;
        padding: 6px;
        color: #000;
        font-weight: 600;
        font-size: 17px;
        text-decoration: none;
      }
    }
    .dataFourthLine{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
      .premiumBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        max-width: 260px;
        border-radius: 37px;
        padding: 6px;
        color: #FFDE65;
        font-weight: 600;
        font-size: 17px;
        text-decoration: none;
      }
    }
  }
  .personalInfo{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    .companyInfo{
      .myCompany{
        font-size: 28px;
        font-weight: 400;
      }
      .nameMyCompany{
        color: @common-color1;
        font-size: 32px;
        font-weight: 600;
      }
      .captionMyCompany {
        font-size: 17px;
        font-weight: 600;
        margin: 8px 0;
      }
      .requisitesMyCompany {
        .iik, .bik, .bin {
          font-size: 16px;
          color: #848484;
          font-weight: 600;
          margin-bottom: 3px;
          &:nth-last-child(1){
            margin-bottom: 0;
          }
          span{
            color: #848484;
          }
        }
      }
    }  .edit{
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-bottom: 5px;
      flex-shrink: 0;
    }
  }
  .total_cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .total_card{
      background-color: #292929;
      border-radius: 10px;
      .total_head{
        background-color: #2C2C2C;
        border-radius: 10px;
        padding: 26px 20px;
        display: flex;
        justify-content: space-between;
        .left_contnent{
          display: flex;
          gap: 10px;
          img{
            flex-shrink: 0;
            width: 38px;
          }
          .title{
            flex-shrink: 0;
            p{
              font-size: 16px;
              font-weight: 600;
            }
            span{
              font-size: 12px;
              color: #848484;
            }
          }
        }
        .right_content{
          color: #E7FE55;
          font-size: 20px;
          font-weight: 700;
          display: flex;
          align-items: center;
        }
      }
      .total_content {
        .total_list{
          padding: 10px 20px;
          .week{
            display: flex;
            justify-content: space-between;
            align-items:flex-end;
            
          &:nth-child(1){
            // padding-top: 10px;
          }
            .left_content{
              p{
                font-size: 12px;
              }
              .week_date {
                font-size: 12px;
                color: #848484;
              }
            }
            .right_content{
              span{
                color: #E7FE55;
                font-size: 12px;
              }
            }
          }
        }
        .seperation{
          hr{
            // border: 1px solid #474747;
            border: none;
            height: 0.5px;
            background-color: #474747;
            margin: 0 20px;
          }
        }
      }
      .hidden{
        display: none;
      }
    }
  }
  .currency{
    margin-top: 15px;
    display: flex;
    align-content: center;
    padding: 0 10px;
    .currencyName {
      font-size: 28px;
      font-weight: 600;
    }
    .unit {
      font-size: 28px;
      font-weight: 700;
      color: @common-color1;
      margin: 0 5px;
    }
    img{
      width: 17px;
    }
  }
  .separation{
    margin: 12px 0;
   hr{
    border: none;
    outline: none;
    width: 100%;
    height: 1px;
    background-color: #e7fe5552;
   }
  }
  .important{
    width: 100%;
    height: auto;
    background-color: #2C2C2C;
    border-radius: 10px;
    margin: 20px 0;
    .title{
      background-color: #C63838;
      width: 100%;
      height: 42px;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
    span{
      text-align: center;
      padding: 15px;
      display: block;
      font-size: 12px;
      line-height: 18px;
    }
  }
  .networks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    padding: 0 10px; 
    margin-top: 20px;
    .addNetwork{
      display: flex;
      align-content: center;
      justify-content: space-between;
      gap: 18px;
      span{
        font-size: 24px;
      }
      .addBtn{
        width: 84px;
        height: 28px;
        background-color: @common-color1;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 28px;
        font-weight: 600;
        background-image: url(img/plus_black.svg);
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  .imageGallery{
    padding: 0 10px;
    padding-bottom: 30px;
    overflow: auto;
    clip-path: inset(0 0 00px 0);
    display: flex;
    align-items: flex-start;
    gap: 6px;
    margin-top: 36px;
    #element::-webkit-scrollbar {
      width: 0px;
      height: 0;
      background-color: transparent;
    }
    .cardItem{
      .imageCard{
        width: 93px;
        height: 93px;
        border-radius: 9px;
        background-size: cover;
      }
      &:nth-child(1) .imageCard {
        background-size:auto;
      }
    }
    .addImage{
      background-color: #3e3e3e;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 500;
      font-size: 36px;
    }
  }
  .informAccordion{
    padding: 0 10px;
    margin-bottom: 20px;
    .informItem{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 35px;
      margin-bottom: 14px;
      .informName{
          font-size: 24px;
          font-weight: 500;
      }
      .informAtr{
          display: flex;
          align-items: center;
          gap: 24px;
          .notification{
              width: 27px;
              height: 27px;
              background-color: @common-color1;
              border-radius: 100%;
              color: @text-color;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 600;
              font-size: 15px;
          }
          .atrName{
              color: @common-color1;
              font-size: 24px;
              font-weight: 400;
          }
          ul {
              padding: 0;
              list-style: none;
              width: 100%;
              max-width: 320px;
              list-style: none;
            }
          }
          svg{
              transform: rotate(0);
          }
      }
    .disclosure{
      .realLine{
        display: flex;
        align-items: flex-start;
        gap: 15px;
      }
        span{
            display: block;
            // width: 90%;
        }
        .disclosureDate{
            margin-left: auto;
            color: #8D8D8D;
            width: fit-content;
        }
        .evaluation{
          margin-top: 40px;
          .indicator{
              display: flex;
              align-items: center;
              gap: 10px;
              .quantity{
                font-size: 20px;
                font-weight: 600;
            }
            .stars{
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .quantity_rating{
                color: #A9A9A9;
                font-size: 16px;
            }
          }
      }
      .comments{
          border-radius: 10px;
          background-color: #292929;
          height: auto;
          width: 100%;
          margin-top: 20px;
          padding: 15px;
          .main_comment{
              display: flex;
              flex-direction: column;
              .comment_header{
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  align-items: center;
                  gap: 20px;
                  .user_info{
                      display: flex;
                      align-items: center;
                      gap: 10px;
                      // width: 100%;
                      .user_photo{
                          background-image: url(img/user-1.png);
                          background-size: contain;
                          border-radius: 100%;
                          width: 50px;
                          height: 50px;
                      }
                      .user_data{
                          display: flex;
                          flex-direction: column;
                          .name{
                              font-size: 18px;
                              font-weight: 600;
                          }
                          .date{
                              font-size: 12px;
                              font-weight: 400; 
                              color: #A9A9A9;   
                          }
                      }
                  }
                  .user_date_stars{
                    .sum{
                      font-weight: 700;
                      font-size: 12px;
                      text-align: right;
                    }
                    .stars{
                        display: flex;
                        justify-content: space-between;
                    }

                  }
              }
              .comment{
                  font-size: 12px;
                  margin-top: 10px;
              }
              .answer{
                  font-size: 10px;
                  color: #585858;
                  margin-top: 5px;
                  display: flex;
                  justify-content: flex-start;
              }
              .hide{
                  margin: 0 auto;
              }
              .hidden{
                  display: flex !important; 
              }
              .rotate180{
                  transform: rotate(180deg);
              }
              .sub_comment_block{
                  padding-left: 10px;
                  padding-top: 10px;
                  // display: none;
                  gap: 20px;
                  .line_arrow{
                      height: 100%;
                      position: relative;
                      .line{
                          height: 100%;
                          width: 1px;
                          background-color: #585858;
                      }
                      .arrow{
                          position: absolute;
                          top: 0;
                          margin-bottom: 5px;
                      }
                      
                  }
                  .comment_header{  
                  }
                  .sub_comment{
                      .answer{
                          font-size: 10px;
                          color: #585858;
                          margin-top: 5px;
                          display: flex;
                          justify-content: flex-start;
                      }       
                      
                  }
                  .sub_comment{
                    padding-left: 25px;
                  }
              }              
              .textarea_comment{
                position: relative;
                textarea{
                  width: 100%;
                  max-width: 100%;
                  min-width: 100%;
                  height: 100px;
                  background-color: #3E3E3E;
                  margin: 10px 0;
                  outline: none;
                  border: none;
                  border-radius: 10px;
                  color: #fff;
                  padding: 10px;
                  padding-bottom: 35px;
                }
                .send_comment_btn{
                  background-color: #E7FE55;
                  border-radius: 10px;
                  padding: 6px 10px;
                  color: #000;
                  font-size: 10px;
                  font-weight: 700;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: fit-content;
                  position: absolute;
                  bottom: 25px;
                  right: 10px;
                  &:active{
                    background-color: #BAD707;
                  }
                }
              }             
          }
      }
    }
    .disclosureName{
        color: @common-color1;
        font-size: 24px;
        font-weight: 500;
    }
    .partnerInfo{
        display: flex;
        gap: 12px;
        margin-bottom: 15px;
        align-items: center;
        margin-top: 20px;
    }
  }
  .btn_group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .yellowBtn{
      width: 100%;
      height: 58px;
      border-radius: 20px;
      background-color: #E7FE55;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 0 50px;
      position: relative;
    }
  }
}