@import url(common.less);

body {
    background-color: #000;
}

.filtr{
    background-color: #2d2d2d;
    width: 100%;
    border-radius: 20px 20px 0 0;
    // backdrop-filter: blur(14px);
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 20px 0;
    padding-bottom: 50px;
    .loc{
        display: block;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        color: #fff;
    }
    .radio{
        padding: 30px 0;
        .form_radio {
          margin-bottom: 14px;
        }
        .form_radio input[type=radio] {
          display: none;
        }
        .form_radio label {
          display: inline-block;
          cursor: pointer;
          position: relative;
          // padding-left: 45px;
          margin-right: 0;
          line-height: 18px;
          user-select: none;
          width: 100%;
        }
        .form_radio label:before {
          content: "";
          display: inline-block;
          width: 22.4px;
          height: 22.4px;
          position: absolute;
          right: 0;
          bottom: 1px;
          background: url(img/radio-1.png) 0 0 no-repeat;
        }
        
        /* Checked */
        .form_radio input[type=radio]:checked + label:before {
          background: url(img/radio-2.png) 0 0 no-repeat;
        }
        
        /* Hover */
        .form_radio label:hover:before {
          filter: brightness(120%);
        }
        
        /* Disabled */
        .form_radio input[type=radio]:disabled + label:before {
          filter: grayscale(100%);
        }
        
        .form {
          width: 150px;
          margin: 0 auto;
        }
      }
}

.history {
    padding-bottom: 30px;
    white-space: nowrap;
    overflow: auto;
    clip-path: inset(0 0 30px 0);
    margin-bottom: -30px;

    #element::-webkit-scrollbar {
        width: 0px;
        height: 0;
        background-color: transparent;
    }

    .historyList {
        display: flex;
        align-items: center;
        gap: 10px;

        .historyItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;

            .historyCircle {
                height: 79px;
                width: 79px;
                border: #E7FE55 3px solid;
                border-radius: 100%;
                background-position: center;
            }

            .historyName {
                text-align: center;
                font-weight: 500;
                font-size: 11px;
            }
        }
    }
}

.separation {
    margin: 15px 12px;

    hr {
        border: none;
        height: 1px;
        background-color: #E7FE55;
        opacity: 0.16;
    }
}

.filt{
padding-bottom: 15px;
    .filter{
        display: flex;
        margin-top: 12px;
        gap: 10px;
        .btn_filter{
          padding: 8px 12px;
          display: flex;
          gap: 8px;
          background-color: #252525;
          border-radius: 9px;
          align-items: center;
          font-size: 10px;
        }
        .sort, .filt{
          img{
            height: 12px;
          }
        }
      }
}

.bnr {
    .crsl {
        width: 100%;
        height: 112px;
        background-image: url(img/bnrs.png);
        border-radius: 20px;
        margin-bottom: 20px;
    }
}

.card {
    background-color: #252525;
    width: 100%;
    height: auto;
    border-radius: 29px;
    padding: 10px;
    padding-bottom: 16px;
    position: relative;
    margin-bottom: 20px;

    .sale {
        width: 75px;
        height: 75px;
        background-color: #9F55FE;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 24px;
        padding-bottom: 5px;
        position: absolute;
        right: -3px;
        top: -10px;
    }

    .cardImg {
        height: 160px;
        width: 100%;
        border-radius: 20px;
        background-position: center;
    }

    .cardSlide-dots {
        display: flex;
        justify-content: center;
        gap: 4px;
        margin: 5px 0;

        .slide-dot {
            width: 8px;
            height: 8px;
            background-color: #fff;
            border-radius: 100%;
        }

        .slide-dot.active {
            background-color: #E7FE55;
        }
    }
}

.cardInfo {
    .cardNameStar {
        display: flex;
        justify-content: space-between;

        .cardName {
            font-size: 24px;
            font-weight: 700;
            color: #E7FE55;
            margin-bottom: 12px;
        }
    }

    .cardDescription {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    .discounts {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .discount {
            width: 100%;
            height: 60px;
            background-color: #333333;
            border-radius: 20px;
            padding: 11px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px #fff solid;

            p {
                font-weight: 600;
                font-size: 16px;
                line-height: 96.9%;
            }

            .disc_procent {
                display: flex;
                align-items: center;
                height: 100%;

                hr {
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                    margin-right: 15px;
                    margin-left: 10px;
                }

                span {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 96.9%;
                }
            }
        }
    }
}

.nextBtn {
    margin-top: 20px;
    margin-right: 8px;
    display: flex;
    justify-content: flex-end;
}

.navigation {
    position: absolute;
    width: 100%;
    bottom: 22px;
    z-index: 1;

    .nav {
        .navCont {
            height: 83px;
            width: 100%;
            background: linear-gradient(30deg, #414141c7, #6a6a6ab4);
            backdrop-filter: blur(1rem);
            border-radius: 83px;
            padding: 10px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navItem.navActive {
                height: 64px;
                width: 64px;
                background-color: #fff;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .navItem.navActive svg path {
                    fill: #000;
                }
            }
        }
    }
}

/* Основной контейнер */
.tabs {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    /* Скрываем radio */
    input[type="radio"] {
        display: none;
    }
    
    /* Стили для меток вкладок */
    .tab-labels {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    
    .tab-labels label {
        padding: 10px 20px;
        background-color: #000;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        color: #686868;
        font-weight: 600;
    }
    
    .tab-labels label:hover {
        background-color: #ddd;
    }
    
    /* Активная вкладка */
    #tab1:checked~.tab-labels label[for="tab1"],
    #tab2:checked~.tab-labels label[for="tab2"],
    #tab3:checked~.tab-labels label[for="tab3"] {
        background-color: #161716;
        color: #E7FE55;
        font-size: 16px;
        font-weight: 600;
    }
    
    /* Контейнер содержимого */
    .tab-content {
        padding: 15px 0;
        border-radius: 15px;
        background-color: #161716;
    }
    
    /* Скрываем контент вкладок по умолчанию */
    .tab-content .content {
        display: none;
    }
    
    /* Отображаем активный контент */
    #tab1:checked~.tab-content #content1,
    #tab2:checked~.tab-content #content2,
    #tab3:checked~.tab-content #content3 {
        display: block;
    }
}

.line_tabs{
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    /* Скрываем radio */
    input[type="radio"] {
        display: none;
    }

        /* Стили для меток вкладок */
        .tab-labels2 {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
            background-color: #262626;
            padding: 5px;
            border-radius: 10px;
        }

        .tab-labels2 label {
            padding: 10px 20px;
            background-color: #262626;
            border-radius: 10px ;
            cursor: pointer;
            color: #686868;
            font-weight: 600;
            width: 100%;
            text-align: center;
        }
        
        .tab-labels2 label:hover {
            background-color: #ddd;
        }
        
        /* Активная вкладка */
        #tab4:checked~.tab-labels2 label[for="tab4"],
        #tab5:checked~.tab-labels2 label[for="tab5"] {
            background-color: #161716;
            color: #E7FE55;
            font-size: 16px;
            font-weight: 600;
        }
        
        /* Контейнер содержимого */
        .tab-content2 {
            padding: 15px 0;
            border-radius: 15px;
            background-color: #161716;
        }
        
        /* Скрываем контент вкладок по умолчанию */
        .tab-content2 .content {
            display: none;
        }

            /* Отображаем активный контент */
        #tab4:checked~.tab-content2 #content4,
        #tab5:checked~.tab-content2 #content5 {
            display: block;
        }
    }
    .partner_cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .partner_card{
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #262626;
            border-radius: 10px;
            position: relative;
            .favorites{
                position: absolute;
                right: -10px;
                top: -10px;
                background-color: #161716;
                border-radius: 100px;
                padding: 10px;
                width: 40px;
                height: 40px;
            }
            .head_line{
                display: flex;
                gap: 10px;
                img{
                    width: 100px;
                    height: 75px;
                    object-fit: cover;
                }
                .head_text{
                    padding: 5px 0;
                    .header{
                        font-size: 20px;
                        font-weight: 600;
                        color: #E7FE55;
                        display: block;
                    }
                    .descriptions{
                        display: block;
                        font-size: 12px;
                        line-height: 120%;
                        margin-top: 5px;
                    }
                }
            }
            .body_line{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .info{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                        width: 12px;
                        height: 15px;
                    }
                    .info_text{
                        font-size: 12px;
                        display: block;
                        line-height: 100%;
                    }
                }
            }
        }
    }